.form {
  margin-top: 24px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

input,
select {
  width: 450px;
  height: 40px;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
select {
  padding-right: 30px;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: #d32f2f;
}

.actions {
  display: flex;
  justify-content: end;
}

.btn {
  height: 40px;
  padding: 0 20px;

  font-size: 14px;
  font-weight: 500;

  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #111;

  cursor: pointer;
}

.btn:hover:not(:disabled) {
  background-color: #f1f1f1;
}

.btn:disabled {
  opacity: 0.5;
}

.check {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-top: 40px;
}

.check input[type="checkbox"] {
  width: 18px;
  height: 18px;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
}
